<!DOCTYPE html>
<html>
  <head>
    <title>Simple Form Example</title>
  </head>
  <style>
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 2em;
  background-color: #83ece0;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.2em;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
#button {
  background-color: #55bbea;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#button:hover {
  background-color: #7bb314;
}

  </style>
  <body>
    <h1>Simple Form Example</h1>
    <form method="POST" action="/addUser">
    <hidden name="hidden" id="hidden" ></hidden>
      <label for="name">Name:</label>
      <input type="name" id="name" name="name" required>

      <label for="age">Age:</label>
      <input type="age" id="age" name="age" required>

      <label for="address">Address:</label>
      <textarea id="address" name="address" rows="5" required></textarea>

    <label for="phone">Phone:</label>
      <input type="phone" id="phone" name="phone" required>


      <input id="submit" type="submit" value="submit ">
    </form>
  </body>
</html>
