
/* @font-face {
        font-family: 'robotoregular';
        src: url(../fonts/roboto-regular-webfont.woff) format('woff');
        font-weight: normal;
        font-style: normal;
    
} */

.headerStyle{
        background-color: rgb(88, 212, 231);
        text-align: center;
        height: 50px;
        width: auto;
}

    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", "robotoregular", sans-serif;
    }
    
    body {
        min-height: 100vh;
        background: var(--bg-primary);
    }
    ol, ul {
        padding-left: 0rem !important;
    }
    nav {
        position: fixed;
        width: 60px;
        height: 100%;
        background: var(--bg-secondary);
        transition: .5s;
        overflow: hidden;
    }
    
    nav.active {
        width: 300px;
    }
    
    /* nav:hover {
        width: 300px;
    } */
    
    nav ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    nav ul li {
        list-style: none;
        width: 100%;
        position: relative;
    
    }
    
    nav ul li a:hover {
        color: var(--bg-primary);
    }
    
    nav ul li:hover a::before {
        background-color: var(--bg-active);
        width: 100%;
    }
    
    nav ul li a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cl-text);
        transition: .2s;
    }
    
    nav ul li a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: .2s;
    }
    
    nav ul li a .icon {
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    
    nav ul li a .title {
        position: relative;
        font-size: .85em;
    }
    
    nav ul li a .icon * {
        font-size: 1.1em;
    }
    
    nav ul li a.toggle {
        border-bottom: 3px solid var(--bg-primary);
    }
    
    .toggle {
        cursor: pointer;
    }
    
    header {
        display: none;
    }
    
    @media (max-width: 768px) {
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 60px;
            background: var(--bg-secondary);
            color: var(--cl-text);
        }
    
        header a {
            color: var(--cl-text)
        }
    
        nav {
            left: -60px;
        }
    
        nav.active {
            left: 0;
            width: 100%;
        }
    
        nav ul li a.toggle {
            display: none;
        }
    }
    table{
        margin-left: 6% !important;
        margin-top: 3% !important;
        border: rgb(88, 212, 231) !important;
    }
    .iconsize{
        font-size: 25px !important;
        padding-left: 5px !important;
        cursor: pointer !important;
    }
   
    #myTable.minimize {
        width: 76%;
        margin-left: 332px !important;
        transition: all 0.3s ease-in-out;
        border: deepskyblue !important;
    }
    
    
    :root {
        --bg-primary: #cfdaf2;
        --bg-secondary: #7aa9e2;
        --bg-active: #1c93dd;
        --cl-text: #3d4033;
    }
    p{
        margin-top: 1% !important;
        text-align: right !important;
        display: inline-block;
        padding: 10px 30px;
        background-color: #2d96d7;
        color: white;
        /* text-align: center; */
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        float: right;
        
          
    }